
.modal-body > div {
  margin:10px;
  display:flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.report-header{
  flex: 1;
}
.report-content{
  flex:2;
}
.report-content label{
  width:75%;
}

.middle .report-content{
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.error-msg{
  color:red;
}
