<div class="container">

  <h1>Registration</h1>

  <form>
    <div [formGroup]="userEmail" class="form-group">
      <label><b>Username</b></label>
      <!--Takes the user input then tells the program whether it's valid or not-->
      <input [class.is-invalid]="userEmail.get('email').invalid"
             type="email" class="form-control" formControlName="email" placeholder="Enter Username:" required>
    </div>

    <!--This is what displays the error message if isn't a valid email-->
    <div *ngIf="(getUserEmail().invalid && getUserEmail().touched)|| getUserEmail().dirty">
      <small *ngIf="getUserEmail().errors?.pattern" class="text-danger">Please provide a valid email address</small>
    </div>

  <div [formGroup]="passwords" class="form-group">
    <label><b>Password</b></label>
    <input [class.is-invalid]="passwords.get('password').invalid"
           type="password" class="form-control" formControlName="password" placeholder="Enter Password:" required>

    <!--Displays this error messages if isn't a valid password-->
    <div *ngIf="(getUserPassword().invalid && getUserPassword().touched)|| getUserPassword().dirty">
      <small *ngIf="getUserPassword().errors?.pattern" class="text-danger">Password must contain at least one letter,
        one symbol, and one number</small>
    </div>
    <!-- Displays error message when char length exceeds boundaries -->
    <div *ngIf="(getUserPassword().invalid && getUserPassword().touched)|| getUserPassword().dirty">
      <small *ngIf="getUserPassword().errors?.minlength || getUserPassword().errors?.maxlength" class="text-danger">
        Password must be between 4 and 12 characters</small>
    </div>

    <label><b>Confirm Password</b></label>
    <input [class.is-invalid]="passwords.get('confirmPassword').invalid || getConfirmPassword().value !== getUserPassword().value"
           type="password" class="form-control" formControlName="confirmPassword" placeholder="Confirm Password:" required>

    <!--Displays this error messages if isn't a valid password-->
    <div *ngIf="(getConfirmPassword().touched)|| getConfirmPassword().dirty">
      <small *ngIf="getConfirmPassword().value !== getUserPassword().value" class="text-danger">Passwords do not match</small>
    </div>
  </div>

    <button type="submit" class="btn-primary" (click)="onClick()">Register</button>

  </form>

</div>
