<div class="jumbotron">
  <h1 class="display-4">General Dashboard</h1>
  <p class="lead">This project is a general dashboard. The objective is to create a web interface that connects to an
    SQL server database and reads all tables and relationships. It identifies 1-1 and 1-n relationships and asks questions
    from users in case there is ambiguity. It asks for the typeof fields if they are categorical fields and identifies
    references for all other fields. Then it provides a platform to generate and built SQL queries on the tables. Each
    query should be able to store as a report and have data and graphic interface for adding it to the dashboard</p>
  <hr class="my-4">
</div>
