<div class="jumbotron">
  <h1 class="display-4">General Dashboard</h1>
  <p class="lead">This project is a general dashboard. The objective is to create a web interface that connectsto a SQL server database and read all tables and relationships. It identifies 1-1 and 1-nrelationships and asks questions from users in case there is ambiguity. It asks for the typeof fields if they are categorical fields and identifies references for all other fields. Then itprovides a platform to generate and built SQL queries on the tables. each query should beable to store as a report and have data and graphic interface for adding it to the dashboard</p>
  <hr class="my-4">
</div>
