
<div class="content">

  <div class="title">
    <h2>List of Reports</h2> <hr>
  </div>

  <!-- Report Search Type -->
  <div class="section">
    <div>
      <h4>Search Report Type</h4>
      <select class="form-control reports" (change)="updateFormGroup()" [(ngModel)]="selectedReport" size="5">
        <option selected> None </option>
        <option *ngFor="let report of reports" [ngValue]="report">{{report.name}}</option>
      </select>
    </div>
  </div> <br>

<!-- Report Configuaration -->
  <div class="section" *ngIf="selectedReport">
    <div>
      <h4>Parameters</h4>
      <form id="reportForm" [formGroup]="paramGroup" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 input-param" *ngFor="let param of selectedReport.input_params">
          <div class="input-group-prepend">
            <span class="input-group-text input-field" id="inputGroup-sizing-default">{{param.name}}</span>
          </div>
          <input formControlName="{{param.name}}" type="{{param.type}}" class="form-control input-field" aria-label="Default"
                 aria-describedby="inputGroup-sizing-default">
        </div>
      </form>
    </div>
  </div> <br>


  <div class="section" *ngIf="selectedReport">
    <h4>Chart Type</h4>
    <div>
      <form [formGroup]="chartType" (ngSubmit)="onSubmit()">
        <label>
          <select class="form-control reports" [(ngModel)]="selectedChartType" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let type of chartTypes" [ngValue]="type">{{type}}</option>
          </select>
        </label>
      </form>
    </div>
  </div> <br>

  <div class="section" *ngIf="selectedReport">
    <h4>Database Connection: </h4> <br>
    <div>
      <p>To be determined!</p>
    </div>
  </div> <br>

  <div *ngIf="selectedReport">
    <h4></h4>
    <div class="form-buttons-execute">
      <button type="submit" id="save-btn" form="reportForm" class="btn btn-outline-dark">Execute</button>
    </div>
  </div>

  <!-- List of Reports user messaging -->
  <div class="section errors">
    <h4></h4>
    <div>
      <span class="error-msg" *ngIf="!isFormCompleted">Please fill out all the fields</span>
    </div>
  </div> <br>


</div>


