
<div class="content">

  <div class="title">
    <h2>List of Reports</h2>
  </div>


  <div class="section">
    <h4>Report</h4>
    <div>
      <label>
        <select class="form-control reports" (change)="updateFormGroup()" [(ngModel)]="selectedReport">
          <option *ngFor="let report of reports" [ngValue]="report">{{report.name}}</option>
        </select>
      </label>
    </div>
  </div>

  <div class="section" *ngIf="selectedReport">
    <h4>Parameters</h4>
    <div>
      <form id="reportForm" [formGroup]="paramGroup" (ngSubmit)="onSubmit()">
        <div class="input-group mb-3 input-param" *ngFor="let param of selectedReport.input_params">
          <div class="input-group-prepend">
            <span class="input-group-text input-field" id="inputGroup-sizing-default">{{param.name}}</span>
          </div>
          <input formControlName="{{param.name}}" type="{{param.type}}" class="form-control input-field" aria-label="Default"
                 aria-describedby="inputGroup-sizing-default">
        </div>
      </form>
    </div>
  </div>


  <div class="section" *ngIf="selectedReport">
    <h4>Chart Type</h4>
    <div>
      <form [formGroup]="chartType" (ngSubmit)="onSubmit()">
        <label>
          <select class="form-control reports" [(ngModel)]="selectedChartType" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let type of chartTypes" [ngValue]="type">{{type}}</option>
          </select>
        </label>
      </form>
    </div>
  </div>

  <div class="section" *ngIf="selectedReport">
    <h4></h4>
    <div class="form-buttons">
      <button class="btn btn-outline-dark">Save</button>
      <button type="submit" id="save-btn" form="reportForm" class="btn btn-outline-dark">Execute</button>
    </div>
  </div>

  <div class="section errors">
    <h4></h4>
    <div>
      <span class="error-msg" *ngIf="!isFormCompleted">Please fill out all the fields</span>
    </div>
  </div>


</div>


