<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<div class="sign-in text-center">
  <div class="center">
    <h1>Login</h1>

    <form id="logInForm">
      <div [formGroup]="userEmail" class="form-group">
        <label><b>Username</b></label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          placeholder="Enter Username"
          id="username"
          required
        />
        <div
          *ngIf="
            (getUserEmail().invalid && getUserEmail().touched) ||
            getUserEmail().dirty
          "
        >
          <small *ngIf="getUserEmail().errors?.pattern" class="text-danger">
            Please enter a valid email address
          </small>
        </div>
      </div>

      <!-- Added password see/unsee button-->
      <div [formGroup]="passwords" class="form-group">
        <label><b>Password</b></label>
        <div class="Password-Input">
          <div class="input-group">
            <input
              [type]="passwordState"
              class="form-control"
              formControlName="password"
              placeholder="Enter Password:"
              id="password"
              required
            />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button">
                <i
                  class="fa"
                  [class]="{
                    'fa-eye-slash': passwordState == 'password',
                    'fa-eye': passwordState == 'text'
                  }"
                  aria-hidden="true"
                  (click)="toggle()"
                ></i>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!--Displays error message after pressing the login button -->
      <div *ngIf="!valid">
        <small class="text-danger">{{ error_msg }}</small>
      </div>
      <div class="d-flex justify-content-center">
        <button
          id="button"
          type="button"
          class="btn btn-primary"
          (click)="signIn()"
          id="logInButton"
        >
          Log in
        </button>
      </div>
      <div class="d-flex justify-content-center">
        <p class="mt-2">
          Don't have an account?
          <a href="javascript:void(0);" (click)="switchToRegister()">
            Sign up
          </a>
        </p>
      </div>
    </form>
  </div>
</div>
