<div class="background"></div>
<div class="sign-in text-center">
    <div class="center">

        <h1>General Dashboard</h1>

        <form id="logInForm">
            <div [formGroup]="userEmail" class="form-group">
                <label><b>Username</b></label>
                <input type="email" class="form-control" formControlName="email" placeholder="Enter Username" id="username" required>
                <div *ngIf="(getUserEmail().invalid && getUserEmail().touched)|| getUserEmail().dirty">
                    <small *ngIf="getUserEmail().errors?.pattern" class="text-danger">Please enter a valid email address</small>
                </div>
            </div>

            <div [formGroup]="passwords" class="form-group">
                <label><b>Password</b></label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enters Password" id="password" required>
            </div>

            <p>Don't have an account?<a routerLink="/registration"> Sign up</a></p>

            <!--Displays error message after pressing the login button -->
            <div *ngIf="!valid">
                <small class="text-danger">{{error_msg}}</small>
            </div>

            <button id="button" type="button" class="btn-primary" (click)="signIn()">Log in</button>

        </form>
    </div>
</div>