<ng-template #content let-modal>

  <div class="modal-header">
    <h2>Basic Report</h2>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <div class="top">
      <div class="body-header"><h4>Table</h4></div>
      <div class="body-content">
        <label>
          <select class="form-control reports" (change)="onModelChange()" [(ngModel)]="selectedModel">
            <option *ngFor="let model of models" [ngValue]="model">{{model}}</option>
          </select>
        </label>
      </div>
    </div>

    <div >
      <div class="body-header"><h4>User Input</h4></div>
      <div class="body-content" id="userInput">
        <div *ngFor="let param of selectedModelStructure">
          <input class="form-check-input" type="checkbox" value="" id="{{param}}">
          <label class="form-check-label" for="{{param}}">{{param}}</label>
        </div>

      </div>

    </div>

    <div *ngIf="selectedModel">
      <div class="body-header"><h4>Function</h4></div>
      <div class="body-content">
        <label>
          <select class="form-control func" [(ngModel)]="selectedFunc">
            <option *ngFor="let func of functions" [ngValue]="func">{{func}}</option>
          </select>
        </label>
      </div>
    </div>

    <div *ngIf="selectedFunc && selectedFunc !== 'All'">
      <div class="body-header"><h4>On Column</h4></div>
      <div class="body-content">
        <label>
          <select class="form-control reports" [(ngModel)]="selectedForFunc">
            <option *ngFor="let param of selectedModelStructure" [ngValue]="param">{{param}}</option>
          </select>
        </label>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type="button" id="exit-btn" class="btn btn-outline-dark" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">Close</span>
    </button>
    <button type="submit" (click)="submit()" class="btn btn-outline-dark">Save</button>
  </div>

</ng-template>

<button class="btn btn-lg btn-outline-primary" (click)="open(content)">Create Basic Report</button>




