<div class="content">
  <app-report-creation (outputEvent)="widget=$event"></app-report-creation>


    <div class="container" *ngIf="widget">
      <div *ngIf="isTable(widget)">
        <table class="table">
          <thead>
          <tr>
            <th scope="col">BirthDate</th>
            <th scope="col">ID</th>
            <th scope="col">First Name</th>
            <th scope="col">Gender</th>
            <th scope="col">HireDate</th>
            <th scope="col">Last Name</th>
          </tr>
          </thead>

          <tbody *ngFor="let emp of widget.data">
          <tr>
            <td *ngFor="let item of emp| keyvalue">
              {{item.value}}
            </td>
          </tr>

          </tbody>
        </table>
      </div>

      <app-chart *ngIf="!isTable(widget)" [chartInfo]="widget"></app-chart>
      
      <!-- End of Reports Page Messaging -->
      <br> <hr>
      <p> Your Table has been updated & saved to your account! </p>
      <hr> <br>
    </div>

</div>
