<div class="content">
  <app-report-creation (outputEvent)="widget = $event"></app-report-creation>

  <div class="container" *ngIf="widget">
    <div *ngIf="isTable(widget)">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th *ngFor="let item of widget.data[0] | keyvalue" scope="col">
              {{ item.key }}
            </th>
          </tr>
        </thead>

        <tbody *ngFor="let emp of widget.data">
          <tr>
            <td *ngFor="let item of emp | keyvalue">
              {{ item.value }}
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <app-chart *ngIf="!isTable(widget)" [chartInfo]="widget"></app-chart>

    <!-- End of Reports Page Messaging -->
    <br />
    <hr />
    <p>Your report has been saved to your account!</p>
    <hr />
    <br />
  </div>
</div>
